/*
----------------------------------------------------------
[Table of contents]


#Skins-Colors
#Skins-Typography
#Skins-General
#Skins-Buttons
#Skins-Alerts
#Skins-Menus
#Skins-Thumbs


----------------------------------------------------------
*/
/*
----------------------------------------------------------


#Skins-Color


----------------------------------------------------------
*/

/*----------------------------------------------------------
#transparent
----------------------------------------------------------*/
.style-transparent-bg { background-color: transparent; }
.btn-transparent { color: #ffffff !important; background-color: transparent !important; border-color: transparent !important; }
.btn-transparent:not(.btn-hover-nobg):hover, .btn-transparent:not(.btn-hover-nobg):focus,btn-transparent:active { background-color: transparent !important; border-color: transparent !important;}
.btn-transparent.btn-flat:not(.btn-hover-nobg):hover, .btn-transparent.btn-flat:not(.btn-hover-nobg):focus,btn-transparent.btn-flat:active { background-color: #000000000100 !important; border-color: #000000000100 !important;}
.btn-transparent:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-transparent:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-transparent:active { color: transparent !important; }
.btn-transparent.btn-outline { background-color: transparent !important; border-color: transparent !important; }
.btn-transparent.btn-outline:not(.btn-text-skin) { color: transparent !important; }
.btn-transparent.btn-outline:not(.btn-hover-nobg):hover, .btn-transparent.btn-outline:not(.btn-hover-nobg):focus, btn-transparent.btn-outline:active { background-color: transparent !important; border-color: transparent !important; }
.btn-transparent.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-transparent.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-transparent.btn-outline:active { color: #ffffff !important; }
.style-light .btn-transparent.btn-text-skin.btn-outline, .style-light .btn-transparent.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-transparent.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-transparent-color { color: transparent !important; fill: transparent !important; }
.border-transparent-color { border-color: transparent !important; }
.tmb-overlay-gradient-top .style-transparent-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, transparent 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, transparent 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, transparent 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, transparent 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-transparent-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, transparent 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, transparent 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, transparent 0%, transparent 50%) !important; background-image: linear-gradient(to top, transparent 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-jevc
----------------------------------------------------------*/
.style-color-jevc-bg { background-color: #000000; }
.btn-color-jevc { color: #ffffff !important; background-color: #000000 !important; border-color: #000000 !important; }
.btn-color-jevc:not(.btn-hover-nobg):hover, .btn-color-jevc:not(.btn-hover-nobg):focus,btn-color-jevc:active { background-color: transparent !important; border-color: #000000 !important;}
.btn-color-jevc.btn-flat:not(.btn-hover-nobg):hover, .btn-color-jevc.btn-flat:not(.btn-hover-nobg):focus,btn-color-jevc.btn-flat:active { background-color: #000000 !important; border-color: #000000 !important;}
.btn-color-jevc:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-jevc:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-jevc:active { color: #000000 !important; }
.btn-color-jevc.btn-outline { background-color: transparent !important; border-color: #000000 !important; }
.btn-color-jevc.btn-outline:not(.btn-text-skin) { color: #000000 !important; }
.btn-color-jevc.btn-outline:not(.btn-hover-nobg):hover, .btn-color-jevc.btn-outline:not(.btn-hover-nobg):focus, btn-color-jevc.btn-outline:active { background-color: #000000 !important; border-color: #000000 !important; }
.btn-color-jevc.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-jevc.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-jevc.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-jevc.btn-text-skin.btn-outline, .style-light .btn-color-jevc.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-jevc.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-jevc-color { color: #000000 !important; fill: #000000 !important; }
.border-color-jevc-color { border-color: #000000 !important; }
.tmb-overlay-gradient-top .style-color-jevc-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #000000 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #000000 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #000000 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #000000 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-jevc-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #000000 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #000000 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #000000 0%, transparent 50%) !important; background-image: linear-gradient(to top, #000000 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-nhtu
----------------------------------------------------------*/
.style-color-nhtu-bg { background-color: #101213; }
.btn-color-nhtu { color: #ffffff !important; background-color: #101213 !important; border-color: #101213 !important; }
.btn-color-nhtu:not(.btn-hover-nobg):hover, .btn-color-nhtu:not(.btn-hover-nobg):focus,btn-color-nhtu:active { background-color: transparent !important; border-color: #101213 !important;}
.btn-color-nhtu.btn-flat:not(.btn-hover-nobg):hover, .btn-color-nhtu.btn-flat:not(.btn-hover-nobg):focus,btn-color-nhtu.btn-flat:active { background-color: #030506 !important; border-color: #030506 !important;}
.btn-color-nhtu:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-nhtu:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-nhtu:active { color: #101213 !important; }
.btn-color-nhtu.btn-outline { background-color: transparent !important; border-color: #101213 !important; }
.btn-color-nhtu.btn-outline:not(.btn-text-skin) { color: #101213 !important; }
.btn-color-nhtu.btn-outline:not(.btn-hover-nobg):hover, .btn-color-nhtu.btn-outline:not(.btn-hover-nobg):focus, btn-color-nhtu.btn-outline:active { background-color: #101213 !important; border-color: #101213 !important; }
.btn-color-nhtu.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-nhtu.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-nhtu.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-nhtu.btn-text-skin.btn-outline, .style-light .btn-color-nhtu.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-nhtu.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-nhtu-color { color: #101213 !important; fill: #101213 !important; }
.border-color-nhtu-color { border-color: #101213 !important; }
.tmb-overlay-gradient-top .style-color-nhtu-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #101213 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #101213 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #101213 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #101213 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-nhtu-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #101213 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #101213 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #101213 0%, transparent 50%) !important; background-image: linear-gradient(to top, #101213 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-wayh
----------------------------------------------------------*/
.style-color-wayh-bg { background-color: #141618; }
.btn-color-wayh { color: #ffffff !important; background-color: #141618 !important; border-color: #141618 !important; }
.btn-color-wayh:not(.btn-hover-nobg):hover, .btn-color-wayh:not(.btn-hover-nobg):focus,btn-color-wayh:active { background-color: transparent !important; border-color: #141618 !important;}
.btn-color-wayh.btn-flat:not(.btn-hover-nobg):hover, .btn-color-wayh.btn-flat:not(.btn-hover-nobg):focus,btn-color-wayh.btn-flat:active { background-color: #07090b !important; border-color: #07090b !important;}
.btn-color-wayh:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-wayh:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-wayh:active { color: #141618 !important; }
.btn-color-wayh.btn-outline { background-color: transparent !important; border-color: #141618 !important; }
.btn-color-wayh.btn-outline:not(.btn-text-skin) { color: #141618 !important; }
.btn-color-wayh.btn-outline:not(.btn-hover-nobg):hover, .btn-color-wayh.btn-outline:not(.btn-hover-nobg):focus, btn-color-wayh.btn-outline:active { background-color: #141618 !important; border-color: #141618 !important; }
.btn-color-wayh.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-wayh.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-wayh.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-wayh.btn-text-skin.btn-outline, .style-light .btn-color-wayh.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-wayh.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-wayh-color { color: #141618 !important; fill: #141618 !important; }
.border-color-wayh-color { border-color: #141618 !important; }
.tmb-overlay-gradient-top .style-color-wayh-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #141618 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #141618 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #141618 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #141618 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-wayh-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #141618 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #141618 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #141618 0%, transparent 50%) !important; background-image: linear-gradient(to top, #141618 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-rgdb
----------------------------------------------------------*/
.style-color-rgdb-bg { background-color: #1b1d1f; }
.btn-color-rgdb { color: #ffffff !important; background-color: #1b1d1f !important; border-color: #1b1d1f !important; }
.btn-color-rgdb:not(.btn-hover-nobg):hover, .btn-color-rgdb:not(.btn-hover-nobg):focus,btn-color-rgdb:active { background-color: transparent !important; border-color: #1b1d1f !important;}
.btn-color-rgdb.btn-flat:not(.btn-hover-nobg):hover, .btn-color-rgdb.btn-flat:not(.btn-hover-nobg):focus,btn-color-rgdb.btn-flat:active { background-color: #0e1012 !important; border-color: #0e1012 !important;}
.btn-color-rgdb:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-rgdb:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-rgdb:active { color: #1b1d1f !important; }
.btn-color-rgdb.btn-outline { background-color: transparent !important; border-color: #1b1d1f !important; }
.btn-color-rgdb.btn-outline:not(.btn-text-skin) { color: #1b1d1f !important; }
.btn-color-rgdb.btn-outline:not(.btn-hover-nobg):hover, .btn-color-rgdb.btn-outline:not(.btn-hover-nobg):focus, btn-color-rgdb.btn-outline:active { background-color: #1b1d1f !important; border-color: #1b1d1f !important; }
.btn-color-rgdb.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-rgdb.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-rgdb.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-rgdb.btn-text-skin.btn-outline, .style-light .btn-color-rgdb.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-rgdb.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-rgdb-color { color: #1b1d1f !important; fill: #1b1d1f !important; }
.border-color-rgdb-color { border-color: #1b1d1f !important; }
.tmb-overlay-gradient-top .style-color-rgdb-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #1b1d1f 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #1b1d1f 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #1b1d1f 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #1b1d1f 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-rgdb-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #1b1d1f 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #1b1d1f 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #1b1d1f 0%, transparent 50%) !important; background-image: linear-gradient(to top, #1b1d1f 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-prif
----------------------------------------------------------*/
.style-color-prif-bg { background-color: #303133; }
.btn-color-prif { color: #ffffff !important; background-color: #303133 !important; border-color: #303133 !important; }
.btn-color-prif:not(.btn-hover-nobg):hover, .btn-color-prif:not(.btn-hover-nobg):focus,btn-color-prif:active { background-color: transparent !important; border-color: #303133 !important;}
.btn-color-prif.btn-flat:not(.btn-hover-nobg):hover, .btn-color-prif.btn-flat:not(.btn-hover-nobg):focus,btn-color-prif.btn-flat:active { background-color: #232426 !important; border-color: #232426 !important;}
.btn-color-prif:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-prif:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-prif:active { color: #303133 !important; }
.btn-color-prif.btn-outline { background-color: transparent !important; border-color: #303133 !important; }
.btn-color-prif.btn-outline:not(.btn-text-skin) { color: #303133 !important; }
.btn-color-prif.btn-outline:not(.btn-hover-nobg):hover, .btn-color-prif.btn-outline:not(.btn-hover-nobg):focus, btn-color-prif.btn-outline:active { background-color: #303133 !important; border-color: #303133 !important; }
.btn-color-prif.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-prif.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-prif.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-prif.btn-text-skin.btn-outline, .style-light .btn-color-prif.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-prif.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-prif-color { color: #303133 !important; fill: #303133 !important; }
.border-color-prif-color { border-color: #303133 !important; }
.tmb-overlay-gradient-top .style-color-prif-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #303133 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #303133 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #303133 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #303133 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-prif-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #303133 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #303133 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #303133 0%, transparent 50%) !important; background-image: linear-gradient(to top, #303133 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-xsdn
----------------------------------------------------------*/
.style-color-xsdn-bg { background-color: #ffffff; }
.btn-color-xsdn { color: #ffffff !important; background-color: #ffffff !important; border-color: #ffffff !important; }
.btn-color-xsdn:not(.btn-hover-nobg):hover, .btn-color-xsdn:not(.btn-hover-nobg):focus,btn-color-xsdn:active { background-color: transparent !important; border-color: #ffffff !important;}
.btn-color-xsdn.btn-flat:not(.btn-hover-nobg):hover, .btn-color-xsdn.btn-flat:not(.btn-hover-nobg):focus,btn-color-xsdn.btn-flat:active { background-color: #f2f2f2 !important; border-color: #f2f2f2 !important;}
.btn-color-xsdn:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-xsdn:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-xsdn:active { color: #ffffff !important; }
.btn-color-xsdn.btn-outline { background-color: transparent !important; border-color: #ffffff !important; }
.btn-color-xsdn.btn-outline:not(.btn-text-skin) { color: #ffffff !important; }
.btn-color-xsdn.btn-outline:not(.btn-hover-nobg):hover, .btn-color-xsdn.btn-outline:not(.btn-hover-nobg):focus, btn-color-xsdn.btn-outline:active { background-color: #ffffff !important; border-color: #ffffff !important; }
.btn-color-xsdn.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-xsdn.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-xsdn.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-xsdn.btn-text-skin.btn-outline, .style-light .btn-color-xsdn.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-xsdn.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-xsdn-color { color: #ffffff !important; fill: #ffffff !important; }
.border-color-xsdn-color { border-color: #ffffff !important; }
.tmb-overlay-gradient-top .style-color-xsdn-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #ffffff 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #ffffff 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #ffffff 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #ffffff 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-xsdn-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #ffffff 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #ffffff 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #ffffff 0%, transparent 50%) !important; background-image: linear-gradient(to top, #ffffff 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-lxmt
----------------------------------------------------------*/
.style-color-lxmt-bg { background-color: #f7f7f7; }
.btn-color-lxmt { color: #ffffff !important; background-color: #f7f7f7 !important; border-color: #f7f7f7 !important; }
.btn-color-lxmt:not(.btn-hover-nobg):hover, .btn-color-lxmt:not(.btn-hover-nobg):focus,btn-color-lxmt:active { background-color: transparent !important; border-color: #f7f7f7 !important;}
.btn-color-lxmt.btn-flat:not(.btn-hover-nobg):hover, .btn-color-lxmt.btn-flat:not(.btn-hover-nobg):focus,btn-color-lxmt.btn-flat:active { background-color: #eaeaea !important; border-color: #eaeaea !important;}
.btn-color-lxmt:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-lxmt:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-lxmt:active { color: #f7f7f7 !important; }
.btn-color-lxmt.btn-outline { background-color: transparent !important; border-color: #f7f7f7 !important; }
.btn-color-lxmt.btn-outline:not(.btn-text-skin) { color: #f7f7f7 !important; }
.btn-color-lxmt.btn-outline:not(.btn-hover-nobg):hover, .btn-color-lxmt.btn-outline:not(.btn-hover-nobg):focus, btn-color-lxmt.btn-outline:active { background-color: #f7f7f7 !important; border-color: #f7f7f7 !important; }
.btn-color-lxmt.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-lxmt.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-lxmt.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-lxmt.btn-text-skin.btn-outline, .style-light .btn-color-lxmt.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-lxmt.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-lxmt-color { color: #f7f7f7 !important; fill: #f7f7f7 !important; }
.border-color-lxmt-color { border-color: #f7f7f7 !important; }
.tmb-overlay-gradient-top .style-color-lxmt-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #f7f7f7 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #f7f7f7 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #f7f7f7 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #f7f7f7 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-lxmt-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #f7f7f7 0%, transparent 50%) !important; background-image: linear-gradient(to top, #f7f7f7 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-gyho
----------------------------------------------------------*/
.style-color-gyho-bg { background-color: #eaeaea; }
.btn-color-gyho { color: #ffffff !important; background-color: #eaeaea !important; border-color: #eaeaea !important; }
.btn-color-gyho:not(.btn-hover-nobg):hover, .btn-color-gyho:not(.btn-hover-nobg):focus,btn-color-gyho:active { background-color: transparent !important; border-color: #eaeaea !important;}
.btn-color-gyho.btn-flat:not(.btn-hover-nobg):hover, .btn-color-gyho.btn-flat:not(.btn-hover-nobg):focus,btn-color-gyho.btn-flat:active { background-color: #dddddd !important; border-color: #dddddd !important;}
.btn-color-gyho:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-gyho:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-gyho:active { color: #eaeaea !important; }
.btn-color-gyho.btn-outline { background-color: transparent !important; border-color: #eaeaea !important; }
.btn-color-gyho.btn-outline:not(.btn-text-skin) { color: #eaeaea !important; }
.btn-color-gyho.btn-outline:not(.btn-hover-nobg):hover, .btn-color-gyho.btn-outline:not(.btn-hover-nobg):focus, btn-color-gyho.btn-outline:active { background-color: #eaeaea !important; border-color: #eaeaea !important; }
.btn-color-gyho.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-gyho.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-gyho.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-gyho.btn-text-skin.btn-outline, .style-light .btn-color-gyho.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-gyho.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-gyho-color { color: #eaeaea !important; fill: #eaeaea !important; }
.border-color-gyho-color { border-color: #eaeaea !important; }
.tmb-overlay-gradient-top .style-color-gyho-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #eaeaea 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #eaeaea 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #eaeaea 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #eaeaea 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-gyho-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #eaeaea 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #eaeaea 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #eaeaea 0%, transparent 50%) !important; background-image: linear-gradient(to top, #eaeaea 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-uydo
----------------------------------------------------------*/
.style-color-uydo-bg { background-color: #dddddd; }
.btn-color-uydo { color: #ffffff !important; background-color: #dddddd !important; border-color: #dddddd !important; }
.btn-color-uydo:not(.btn-hover-nobg):hover, .btn-color-uydo:not(.btn-hover-nobg):focus,btn-color-uydo:active { background-color: transparent !important; border-color: #dddddd !important;}
.btn-color-uydo.btn-flat:not(.btn-hover-nobg):hover, .btn-color-uydo.btn-flat:not(.btn-hover-nobg):focus,btn-color-uydo.btn-flat:active { background-color: #d0d0d0 !important; border-color: #d0d0d0 !important;}
.btn-color-uydo:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-uydo:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-uydo:active { color: #dddddd !important; }
.btn-color-uydo.btn-outline { background-color: transparent !important; border-color: #dddddd !important; }
.btn-color-uydo.btn-outline:not(.btn-text-skin) { color: #dddddd !important; }
.btn-color-uydo.btn-outline:not(.btn-hover-nobg):hover, .btn-color-uydo.btn-outline:not(.btn-hover-nobg):focus, btn-color-uydo.btn-outline:active { background-color: #dddddd !important; border-color: #dddddd !important; }
.btn-color-uydo.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-uydo.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-uydo.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-uydo.btn-text-skin.btn-outline, .style-light .btn-color-uydo.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-uydo.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-uydo-color { color: #dddddd !important; fill: #dddddd !important; }
.border-color-uydo-color { border-color: #dddddd !important; }
.tmb-overlay-gradient-top .style-color-uydo-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #dddddd 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #dddddd 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #dddddd 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #dddddd 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-uydo-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #dddddd 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #dddddd 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #dddddd 0%, transparent 50%) !important; background-image: linear-gradient(to top, #dddddd 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-wvjs
----------------------------------------------------------*/
.style-color-wvjs-bg { background-color: #777777; }
.btn-color-wvjs { color: #ffffff !important; background-color: #777777 !important; border-color: #777777 !important; }
.btn-color-wvjs:not(.btn-hover-nobg):hover, .btn-color-wvjs:not(.btn-hover-nobg):focus,btn-color-wvjs:active { background-color: transparent !important; border-color: #777777 !important;}
.btn-color-wvjs.btn-flat:not(.btn-hover-nobg):hover, .btn-color-wvjs.btn-flat:not(.btn-hover-nobg):focus,btn-color-wvjs.btn-flat:active { background-color: #6a6a6a !important; border-color: #6a6a6a !important;}
.btn-color-wvjs:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-wvjs:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-wvjs:active { color: #777777 !important; }
.btn-color-wvjs.btn-outline { background-color: transparent !important; border-color: #777777 !important; }
.btn-color-wvjs.btn-outline:not(.btn-text-skin) { color: #777777 !important; }
.btn-color-wvjs.btn-outline:not(.btn-hover-nobg):hover, .btn-color-wvjs.btn-outline:not(.btn-hover-nobg):focus, btn-color-wvjs.btn-outline:active { background-color: #777777 !important; border-color: #777777 !important; }
.btn-color-wvjs.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-wvjs.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-wvjs.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-wvjs.btn-text-skin.btn-outline, .style-light .btn-color-wvjs.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-wvjs.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-wvjs-color { color: #777777 !important; fill: #777777 !important; }
.border-color-wvjs-color { border-color: #777777 !important; }
.tmb-overlay-gradient-top .style-color-wvjs-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #777777 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #777777 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #777777 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #777777 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-wvjs-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #777777 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #777777 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #777777 0%, transparent 50%) !important; background-image: linear-gradient(to top, #777777 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-vyce
----------------------------------------------------------*/
.style-color-vyce-bg { background-color: #0cb4ce; }
.btn-color-vyce { color: #ffffff !important; background-color: #0cb4ce !important; border-color: #0cb4ce !important; }
.btn-color-vyce:not(.btn-hover-nobg):hover, .btn-color-vyce:not(.btn-hover-nobg):focus,btn-color-vyce:active { background-color: transparent !important; border-color: #0cb4ce !important;}
.btn-color-vyce.btn-flat:not(.btn-hover-nobg):hover, .btn-color-vyce.btn-flat:not(.btn-hover-nobg):focus,btn-color-vyce.btn-flat:active { background-color: #00a7c1 !important; border-color: #00a7c1 !important;}
.btn-color-vyce:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-vyce:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-vyce:active { color: #0cb4ce !important; }
.btn-color-vyce.btn-outline { background-color: transparent !important; border-color: #0cb4ce !important; }
.btn-color-vyce.btn-outline:not(.btn-text-skin) { color: #0cb4ce !important; }
.btn-color-vyce.btn-outline:not(.btn-hover-nobg):hover, .btn-color-vyce.btn-outline:not(.btn-hover-nobg):focus, btn-color-vyce.btn-outline:active { background-color: #0cb4ce !important; border-color: #0cb4ce !important; }
.btn-color-vyce.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-vyce.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-vyce.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-vyce.btn-text-skin.btn-outline, .style-light .btn-color-vyce.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-vyce.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-vyce-color { color: #0cb4ce !important; fill: #0cb4ce !important; }
.border-color-vyce-color { border-color: #0cb4ce !important; }
.tmb-overlay-gradient-top .style-color-vyce-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #0cb4ce 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #0cb4ce 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #0cb4ce 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #0cb4ce 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-vyce-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #0cb4ce 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #0cb4ce 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #0cb4ce 0%, transparent 50%) !important; background-image: linear-gradient(to top, #0cb4ce 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-dfgh
----------------------------------------------------------*/
.style-color-dfgh-bg { background-color: #ff590a; }
.btn-color-dfgh { color: #ffffff !important; background-color: #ff590a !important; border-color: #ff590a !important; }
.btn-color-dfgh:not(.btn-hover-nobg):hover, .btn-color-dfgh:not(.btn-hover-nobg):focus,btn-color-dfgh:active { background-color: transparent !important; border-color: #ff590a !important;}
.btn-color-dfgh.btn-flat:not(.btn-hover-nobg):hover, .btn-color-dfgh.btn-flat:not(.btn-hover-nobg):focus,btn-color-dfgh.btn-flat:active { background-color: #f24c00 !important; border-color: #f24c00 !important;}
.btn-color-dfgh:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-dfgh:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-dfgh:active { color: #ff590a !important; }
.btn-color-dfgh.btn-outline { background-color: transparent !important; border-color: #ff590a !important; }
.btn-color-dfgh.btn-outline:not(.btn-text-skin) { color: #ff590a !important; }
.btn-color-dfgh.btn-outline:not(.btn-hover-nobg):hover, .btn-color-dfgh.btn-outline:not(.btn-hover-nobg):focus, btn-color-dfgh.btn-outline:active { background-color: #ff590a !important; border-color: #ff590a !important; }
.btn-color-dfgh.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-dfgh.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-dfgh.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-dfgh.btn-text-skin.btn-outline, .style-light .btn-color-dfgh.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-dfgh.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-dfgh-color { color: #ff590a !important; fill: #ff590a !important; }
.border-color-dfgh-color { border-color: #ff590a !important; }
.tmb-overlay-gradient-top .style-color-dfgh-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #ff590a 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #ff590a 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #ff590a 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #ff590a 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-dfgh-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #ff590a 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #ff590a 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #ff590a 0%, transparent 50%) !important; background-image: linear-gradient(to top, #ff590a 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-iopl
----------------------------------------------------------*/
.style-color-iopl-bg { background-color: #0cce50; }
.btn-color-iopl { color: #ffffff !important; background-color: #0cce50 !important; border-color: #0cce50 !important; }
.btn-color-iopl:not(.btn-hover-nobg):hover, .btn-color-iopl:not(.btn-hover-nobg):focus,btn-color-iopl:active { background-color: transparent !important; border-color: #0cce50 !important;}
.btn-color-iopl.btn-flat:not(.btn-hover-nobg):hover, .btn-color-iopl.btn-flat:not(.btn-hover-nobg):focus,btn-color-iopl.btn-flat:active { background-color: #00c143 !important; border-color: #00c143 !important;}
.btn-color-iopl:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-iopl:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-iopl:active { color: #0cce50 !important; }
.btn-color-iopl.btn-outline { background-color: transparent !important; border-color: #0cce50 !important; }
.btn-color-iopl.btn-outline:not(.btn-text-skin) { color: #0cce50 !important; }
.btn-color-iopl.btn-outline:not(.btn-hover-nobg):hover, .btn-color-iopl.btn-outline:not(.btn-hover-nobg):focus, btn-color-iopl.btn-outline:active { background-color: #0cce50 !important; border-color: #0cce50 !important; }
.btn-color-iopl.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-iopl.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-iopl.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-iopl.btn-text-skin.btn-outline, .style-light .btn-color-iopl.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-iopl.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-iopl-color { color: #0cce50 !important; fill: #0cce50 !important; }
.border-color-iopl-color { border-color: #0cce50 !important; }
.tmb-overlay-gradient-top .style-color-iopl-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #0cce50 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #0cce50 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #0cce50 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #0cce50 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-iopl-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #0cce50 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #0cce50 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #0cce50 0%, transparent 50%) !important; background-image: linear-gradient(to top, #0cce50 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-zsdf
----------------------------------------------------------*/
.style-color-zsdf-bg { background-color: #ffc42e; }
.btn-color-zsdf { color: #ffffff !important; background-color: #ffc42e !important; border-color: #ffc42e !important; }
.btn-color-zsdf:not(.btn-hover-nobg):hover, .btn-color-zsdf:not(.btn-hover-nobg):focus,btn-color-zsdf:active { background-color: transparent !important; border-color: #ffc42e !important;}
.btn-color-zsdf.btn-flat:not(.btn-hover-nobg):hover, .btn-color-zsdf.btn-flat:not(.btn-hover-nobg):focus,btn-color-zsdf.btn-flat:active { background-color: #f2b721 !important; border-color: #f2b721 !important;}
.btn-color-zsdf:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-zsdf:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-zsdf:active { color: #ffc42e !important; }
.btn-color-zsdf.btn-outline { background-color: transparent !important; border-color: #ffc42e !important; }
.btn-color-zsdf.btn-outline:not(.btn-text-skin) { color: #ffc42e !important; }
.btn-color-zsdf.btn-outline:not(.btn-hover-nobg):hover, .btn-color-zsdf.btn-outline:not(.btn-hover-nobg):focus, btn-color-zsdf.btn-outline:active { background-color: #ffc42e !important; border-color: #ffc42e !important; }
.btn-color-zsdf.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-zsdf.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-zsdf.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-zsdf.btn-text-skin.btn-outline, .style-light .btn-color-zsdf.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-zsdf.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-zsdf-color { color: #ffc42e !important; fill: #ffc42e !important; }
.border-color-zsdf-color { border-color: #ffc42e !important; }
.tmb-overlay-gradient-top .style-color-zsdf-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #ffc42e 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #ffc42e 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #ffc42e 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #ffc42e 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-zsdf-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #ffc42e 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #ffc42e 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #ffc42e 0%, transparent 50%) !important; background-image: linear-gradient(to top, #ffc42e 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-288864
----------------------------------------------------------*/
.style-color-288864-bg { background-color: #9f45d4; }
.btn-color-288864 { color: #ffffff !important; background-color: #9f45d4 !important; border-color: #9f45d4 !important; }
.btn-color-288864:not(.btn-hover-nobg):hover, .btn-color-288864:not(.btn-hover-nobg):focus,btn-color-288864:active { background-color: transparent !important; border-color: #9f45d4 !important;}
.btn-color-288864.btn-flat:not(.btn-hover-nobg):hover, .btn-color-288864.btn-flat:not(.btn-hover-nobg):focus,btn-color-288864.btn-flat:active { background-color: #9238c7 !important; border-color: #9238c7 !important;}
.btn-color-288864:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-288864:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-288864:active { color: #9f45d4 !important; }
.btn-color-288864.btn-outline { background-color: transparent !important; border-color: #9f45d4 !important; }
.btn-color-288864.btn-outline:not(.btn-text-skin) { color: #9f45d4 !important; }
.btn-color-288864.btn-outline:not(.btn-hover-nobg):hover, .btn-color-288864.btn-outline:not(.btn-hover-nobg):focus, btn-color-288864.btn-outline:active { background-color: #9f45d4 !important; border-color: #9f45d4 !important; }
.btn-color-288864.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-288864.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-288864.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-288864.btn-text-skin.btn-outline, .style-light .btn-color-288864.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-288864.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-288864-color { color: #9f45d4 !important; fill: #9f45d4 !important; }
.border-color-288864-color { border-color: #9f45d4 !important; }
.tmb-overlay-gradient-top .style-color-288864-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #9f45d4 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #9f45d4 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #9f45d4 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #9f45d4 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-288864-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #9f45d4 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #9f45d4 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #9f45d4 0%, transparent 50%) !important; background-image: linear-gradient(to top, #9f45d4 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-154883
----------------------------------------------------------*/
.style-color-154883-bg { background-color: #e1b7fa; }
.btn-color-154883 { color: #ffffff !important; background-color: #e1b7fa !important; border-color: #e1b7fa !important; }
.btn-color-154883:not(.btn-hover-nobg):hover, .btn-color-154883:not(.btn-hover-nobg):focus,btn-color-154883:active { background-color: transparent !important; border-color: #e1b7fa !important;}
.btn-color-154883.btn-flat:not(.btn-hover-nobg):hover, .btn-color-154883.btn-flat:not(.btn-hover-nobg):focus,btn-color-154883.btn-flat:active { background-color: #d4aaed !important; border-color: #d4aaed !important;}
.btn-color-154883:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-154883:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-154883:active { color: #e1b7fa !important; }
.btn-color-154883.btn-outline { background-color: transparent !important; border-color: #e1b7fa !important; }
.btn-color-154883.btn-outline:not(.btn-text-skin) { color: #e1b7fa !important; }
.btn-color-154883.btn-outline:not(.btn-hover-nobg):hover, .btn-color-154883.btn-outline:not(.btn-hover-nobg):focus, btn-color-154883.btn-outline:active { background-color: #e1b7fa !important; border-color: #e1b7fa !important; }
.btn-color-154883.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-154883.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-154883.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-154883.btn-text-skin.btn-outline, .style-light .btn-color-154883.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-154883.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-154883-color { color: #e1b7fa !important; fill: #e1b7fa !important; }
.border-color-154883-color { border-color: #e1b7fa !important; }
.tmb-overlay-gradient-top .style-color-154883-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #e1b7fa 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #e1b7fa 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #e1b7fa 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #e1b7fa 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-154883-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #e1b7fa 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #e1b7fa 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #e1b7fa 0%, transparent 50%) !important; background-image: linear-gradient(to top, #e1b7fa 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#color-521087
----------------------------------------------------------*/
.style-color-521087-bg { background: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%); }
.btn-color-521087 { color: #ffffff !important; background: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);}
.btn-color-521087:not(.btn-hover-nobg):hover, .btn-color-521087:not(.btn-hover-nobg):focus,btn-color-521087:active { background: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);}
.btn-color-521087.btn-flat:not(.btn-hover-nobg):hover, .btn-color-521087.btn-flat:not(.btn-hover-nobg):focus,btn-color-521087.btn-flat:active { background: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);}
.btn-color-521087:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-521087:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-color-521087:active { background: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);-webkit-background-clip: text;-webkit-text-fill-color: transparent; }
.btn-color-521087.btn-outline { background-color: transparent !important; border-image: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);}
.btn-color-521087.btn-outline:not(.btn-text-skin) { background: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);-webkit-background-clip: text;-webkit-text-fill-color: transparent; }
.btn-color-521087.btn-outline:not(.btn-hover-nobg):hover, .btn-color-521087.btn-outline:not(.btn-hover-nobg):focus, btn-color-521087.btn-outline:active { background: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);}
.btn-color-521087.btn-outline:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-color-521087.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-color-521087.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-521087.btn-text-skin.btn-outline, .style-light .btn-color-521087.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-521087.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.border-color-521087-color {border-image: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);border-image: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);}
.text-color-521087-color > * { color: rgb(4, 112, 247) !important; }
.text-color-521087-color > * { -webkit-text-fill-color: transparent !important; -webkit-background-clip: text !important; background: linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -o-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -ms-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -moz-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%);background: -webkit-linear-gradient(left , rgb(4, 112, 247) 18% , rgb(190, 193, 15) 78%); }
.text-color-521087-color > * { background: none !important \0/IE9; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .text-color-521087-color > * { background: none !important; } }

/*----------------------------------------------------------
#accent
----------------------------------------------------------*/
.style-accent-bg { background-color: #9f45d4; }
.btn-accent { color: #ffffff !important; background-color: #9f45d4 !important; border-color: #9f45d4 !important; }
.btn-accent:not(.btn-hover-nobg):hover, .btn-accent:not(.btn-hover-nobg):focus,btn-accent:active { background-color: transparent !important; border-color: #9f45d4 !important;}
.btn-accent.btn-flat:not(.btn-hover-nobg):hover, .btn-accent.btn-flat:not(.btn-hover-nobg):focus,btn-accent.btn-flat:active { background-color: #9238c7 !important; border-color: #9238c7 !important;}
.btn-accent:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-accent:not(.btn-hover-nobg):not(.btn-text-skin):focus,btn-accent:active { color: #9f45d4 !important; }
.btn-accent.btn-outline { background-color: transparent !important; border-color: #9f45d4 !important; }
.btn-accent.btn-outline:not(.btn-text-skin) { color: #9f45d4 !important; }
.btn-accent.btn-outline:not(.btn-hover-nobg):hover, .btn-accent.btn-outline:not(.btn-hover-nobg):focus, btn-accent.btn-outline:active { background-color: #9f45d4 !important; border-color: #9f45d4 !important; }
.btn-accent.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover, .btn-accent.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus, btn-accent.btn-outline:active { color: #ffffff !important; }
.style-light .btn-accent.btn-text-skin.btn-outline, .style-light .btn-accent.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-accent.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-accent-color { color: #9f45d4 !important; fill: #9f45d4 !important; }
.border-accent-color { border-color: #9f45d4 !important; }
.tmb-overlay-gradient-top .style-accent-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(top, #9f45d4 0%, transparent 50%) !important; background-image: -moz-linear-gradient(top, #9f45d4 0%, transparent 50%) !important; background-image: -o-linear-gradient(top, #9f45d4 0%, transparent 50%) !important; background-image: linear-gradient(to bottom, #9f45d4 0%, transparent 50%) !important;}
.tmb-overlay-gradient-bottom .style-accent-bg { background-color: transparent !important; background-image: -webkit-linear-gradient(bottom, #9f45d4 0%, transparent 50%) !important; background-image: -moz-linear-gradient(bottom, #9f45d4 0%, transparent 50%) !important; background-image: -o-linear-gradient(bottom, #9f45d4 0%, transparent 50%) !important; background-image: linear-gradient(to top, #9f45d4 0%, transparent 50%) !important;}

/*----------------------------------------------------------
#Style light
----------------------------------------------------------*/
.style-light-bg { background-color: #000000; }
.border-light-bg { border-color: #000000; }

/*----------------------------------------------------------
#Style dark
----------------------------------------------------------*/
.style-dark-bg { background-color: #141618; }
.border-dark-bg { border-color: #141618; }

/*----------------------------------------------------------
#Color fix
----------------------------------------------------------*/
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus { color: #333333 !important; }
/*
----------------------------------------------------------


#Skins-Typography


----------------------------------------------------------
*/

/*----------------------------------------------------------
#Montserrat
----------------------------------------------------------*/
.font-555555 { font-family: Montserrat !important; }

/*----------------------------------------------------------
#Line-height: 2
----------------------------------------------------------*/
.fontheight-152618 { line-height: 2; }

/*----------------------------------------------------------
#Letter-spacing: 0.02em
----------------------------------------------------------*/
.fontspace-161658 { letter-spacing: 0.02em; }